.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #1d2d44;
}

.text {
  line-height: 2rem;
  text-align: center;
  letter-spacing: .4rem;
  font-size: 2rem;
}

.image {
  max-width: 95vw;
  max-height: 80vh;
}
