@mixin button-styles($color) {
  background-color: $color;
  box-shadow: 0px 6px 0px darken($color, 20%);

  &:active {
    transform: translateY(4px) ;
    box-shadow: 0px 2px 0px darken($color, 20%);
  }
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #1d2d44;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.button {
  width: 3.2rem;
  height: 3rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in-out .1s;
  border: none;
  border-style: outset 0px;
}

.button0 {
  @include button-styles(#e691e6);
}

.button1 {
  @include button-styles(#aeeeae);
}

.button2 {
  @include button-styles(#e6e69b);
}

.button3 {
  @include button-styles(#e59c9c);
}

.button4 {
  @include button-styles(#b69bed);
}

.button5 {
  @include button-styles(#94bde9);
}

.button6 {
  @include button-styles(#a1e6e6);
}

.button7 {
  @include button-styles(#e8cc91);
}
