<app-info-bar [stage]="1"></app-info-bar>
<div
  class="main-container"
  [matRippleAnimation]="{ enterDuration: 1000, exitDuration: 1000 }"
  matRipple
  matRippleColor="rgba(191, 117, 68, 0.1)"
  [matRippleTrigger]="dummyTrigger"
  [matRippleCentered]="true"
>
  <div class="button-container">
    <button (click)="this.clicked(0)" class="button button0"></button>
    <button (click)="this.clicked(1)" class="button button1"></button>
    <button (click)="this.clicked(2)" class="button button2"></button>
    <button (click)="this.clicked(3)" class="button button3"></button>
    <button (click)="this.clicked(4)" class="button button4"></button>
    <button (click)="this.clicked(5)" class="button button5"></button>
    <button (click)="this.clicked(6)" class="button button6"></button>
    <button (click)="this.clicked(7)" class="button button7"></button>
    <button (click)="this.clicked(8)" class="button button8"></button>
    <button (click)="this.clicked(9)" class="button button9"></button>
  </div>
</div>
<div #dummyTrigger style="display: none"></div>
