<app-info-bar [stage]="4"></app-info-bar>
<div
  [matRippleAnimation]="{ enterDuration: 1000, exitDuration: 1000 }"
  matRipple
  matRippleColor="rgba(255, 255, 255, 0.1)"
  [matRippleTrigger]="dummyTrigger"
  [matRippleCentered]="true"
  class="main-container"
  (click)="this.focusInput()"
>
  <div class="text">Hey, I just met you...</div>
  <div
    (input)="this.onChange()"
    contenteditable
    autofocus
    #input
    type="text"
    class="input"
    [style.color]="this.color"
  ></div>
</div>
<div #dummyTrigger style="display: none"></div>
