.main-container {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #BF7544;
	overflow-y: auto;
    overflow-x: hidden
}

.sub-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.info-main-container {
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 10px;
    background: #ffffff14;
    border-radius: 7px;
    margin-left: 10px;
    margin-right: 10px;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}

app-challenge {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.info-container {
	font-size: 18px;
	position: relative;
	color: #fff;
	padding-top: 0.7em;
	margin-bottom: .5em;

	.header{
		position: absolute;
		top: 0;
		color: #1D2D44;
		font-weight: 900;
		font-size: 8px;
	}
}

.blur {
	color: transparent;
	text-shadow: 0 0 10px #fff;
}

.description-container {
	margin-top: 1em;
}

.med-text{
	font-size: 23px;
	color: #1D2D44;
}

.timer {
	font-size: 12px;
	color: #fff;
}

.before {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.presenting {
    margin-bottom: 1em;	
}
.logo-container {
	margin-top: 100px
}
.logo {
	width: 800px
}

.navy {
	color: #1D2D44
}

.orange {
	color: #BF7544
}

.white {
	color:#fff
}

@media (max-width: 900px) {
	.logo{
		width: 680px;
	}
}

@media (max-width: 700px) {
	.logo{
		width: 580px;
	}
}


@media (max-width: 600px) {
	.logo {
		width: 480px
	}

	.info-container {
		font-size: 13px;
		padding-top: 1em;
		.header{
			font-size: 8px;
		}
	}

}

@media (max-width: 500px) {
	.logo{
		width: 380px;
	}
}
@media (max-width: 400px) {
	.logo{
		width: 280px;
	}	
}


@media (max-width: 300px) {
	.logo{
		width: 200px;
	}
}