.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  box-sizing: border-box;
  z-index: 1;
}

.stage-name {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: .4rem;
}

.time-remaining {
  color: #fff;
  font-size: 1.5rem;
  margin-left: 1rem;
  letter-spacing: .4rem;
  position: relative
}

.time-remaining-label {
  position: absolute;
  top: 100%;
  font-size: .5rem;
  letter-spacing: .2rem;
}