/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Bebas Neue';
    src: url('src/assets/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url('src/assets/Exo_2/static/Exo2-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2';
    transition: all .4s;
}
